<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <style>
        body{text-align: center;}
    </style>
</head>
<body>
    <h2>{{newapp.title}}</h2>
    <div>
    작성자: {{newapp.writer}}
    <br>
    날짜: {{newapp.pub_date}}
    </div>
    <br>
    <p>{{newapp.body}}</p>
    <div> 
        <button type="button"><a href="{%url 'home'%}">홈으로</a></button>
    </div>
    
    
</body>
</html>